$primary: rgb(128, 49, 255);
$gray: #5b5b5b;
$white: #fff;

/*General*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.dp-none{
    display: none;
}
.arrow-down {
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translateY(-5px);
    -webkit-transform: rotate(45deg) translateY(-5px);
}

/*General for header*/
.ct-hd {
    font-size: 1.4rem;
    display: flex;
    padding: 8px;
    padding-right: 16px;
    align-items: center;
  }
  .ct-hd a {
    font-size: 1.4rem;
    text-decoration: none;
    color: $white;
  }
  .header-nav ul li {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 8px;
    align-items: center;
  }

  .header-nav ul li a {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
  }
  .header-nav ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $primary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .header-nav ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  /*Btns*/

  .btn-first {
    background: $primary;
    color: $white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-first:hover {
    background: rgb(61 8 147);
  }

  /*Text*/
  .title-page{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.10em;
    color: $primary;
  }

  /*Placement*/
  .ct-content{
    margin: auto;
    max-width: 1080px;
  }


/*------------------ INPUT ------------------*/
.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $primary;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form-label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
    }
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form-field:focus {
    ~ .form-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, rgb(147, 80, 255));
    border-image-slice: 1;
}
/* reset input */
.form-field{
    &:required,&:invalid { box-shadow:none; }
}